# Basic Python Project

## Introduction 
Whenever we're doing research, we need to formulate hypotheses that we can then test. Sometimes we accept these hypotheses; other times, we reject them. To make the right decisions, a business must be able to understand whether or not it's making the right assumptions.

In this project, you'll compare the music preferences of the cities of Springfield and Shelbyville. You'll study real Yandex.Music data to test the hypotheses below and compare user behavior for these two cities.

##  Goal
Test three hypotheses:

1. User activity differs depending on the day of the week and from city to city.

2. On Monday mornings, Springfield and Shelbyville residents listen to different genres. This is also true for Friday evenings.

3. Springfield and Shelbyville listeners have different preferences. In Springfield, they prefer pop, while Shelbyville has more rap fans

## Stages
Data on user behavior is stored in the file /datasets/music_project_en.csv. There is no information about the quality of the data, so you will need to explore it before testing the hypotheses.

First, you'll evaluate the quality of the data and see whether its issues are significant. Then, during data preprocessing, you will try to account for the most critical problems.

Your project will consist of three stages:

1. Data overview

2. Data preprocessing

3. Testing the hypotheses

### Data Overview

In [1]:
import pandas as pd

In [2]:
file_path = r"C:\Users\kevin\datasets\music_project_en.csv"
df_music = pd.read_csv(file_path)
df_music.sample(5)

,userID,Track,artist,genre,City,time,Day
52455,E435CDCE,Harlem Shake,Top 40 DJ's,electronic,Shelbyville,13:48:24,Friday
5949,2741C6D8,Teleconnect Pt. 1,VNV Nation,alternative,Shelbyville,13:25:55,Wednesday
21044,B713E5AC,Robbed Blind,Keith Richards,rock,Shelbyville,08:53:32,Wednesday
17466,8A1736FD,Mack the Knife,Bobby Darin,pop,Shelbyville,14:20:20,Friday
6609,19FA2E77,I Don't Need No Doctor,John Scofield,jazz,Springfield,08:47:22,Monday

In [3]:
display(df_music.head(10))

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L’estate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

In [4]:
df_music.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

The table contains seven columns. They all store the same data type: `object`.

According to the documentation:
- `'userID'` — user identifier
- `'Track'` — track title
- `'artist'` — artist's name
- `'genre'`
- `'City'` — user's city
- `'time'` — the exact time the track was played
- `'Day'` — day of the week

We can see three issues with style in the column names:
1. Some names are uppercase, some are lowercase.
2. There are spaces in some names.
3. Genre does not have a column name.

The number of column values is different. This means the data contains missing values.

Each row in the table stores data on a track that was played. Some columns describe the track itself: its title, artist and genre. The rest convey information about the user: the city they come from, the time they played the track.

It's clear that the data is sufficient to test the hypotheses. However, there are missing values.

To move forward, we need to preprocess the data.

### Data preprocessing

In [5]:
df_music.columns

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

In [6]:
df_music = df_music.rename(columns={'  userID':'User_ID','artist':'Artist','genre':'Genre','  City  ':'City','time':'Time'})

In [7]:
df_music.columns

Index(['User_ID', 'Track', 'Artist', 'Genre', 'City', 'Time', 'Day'], dtype='object')

In [8]:
# total amount of missing values per column
df_music.isna().sum()

User_ID       0
Track      1343
Artist     7567
Genre      1198
City          0
Time          0
Day           0
dtype: int64

In [9]:
# total percentage of missing values per column
df_music.isna().mean()

User_ID    0.000000
Track      0.020636
Artist     0.116274
Genre      0.018408
City       0.000000
Time       0.000000
Day        0.000000
dtype: float64

In [10]:
columns_to_replace = ['Track', 'Artist', 'Genre']
for x in columns_to_replace:
    df_music[x] = df_music[x].fillna('unkown')

In [11]:
df_music.isna().sum()

User_ID    0
Track      0
Artist     0
Genre      0
City       0
Time       0
Day        0
dtype: int64

In [12]:
df_music.duplicated().sum()

3826

In [13]:
df_music = df_music.drop_duplicates()
df_music.duplicated().sum()

0

Now get rid of implicit duplicates in the `genre` column. For example, the name of a genre can be written in different ways. Such errors will also affect the result.

Print a list of unique genre names, sorted in alphabetical order. To do so:

Retrieve the intended DataFrame column
Apply a sorting method to it
For the sorted column, call the method that will return all unique column values

In [14]:
print(sorted(df_music['Genre'].unique()))

['acid', 'acoustic', 'action', 'adult', 'africa', 'afrikaans', 'alternative', 'ambient', 'americana', 'animated', 'anime', 'arabesk', 'arabic', 'arena', 'argentinetango', 'art', 'audiobook', 'avantgarde', 'axé', 'baile', 'balkan', 'beats', 'bigroom', 'black', 'bluegrass', 'blues', 'bollywood', 'bossa', 'brazilian', 'breakbeat', 'breaks', 'broadway', 'cantautori', 'cantopop', 'canzone', 'caribbean', 'caucasian', 'celtic', 'chamber', 'children', 'chill', 'chinese', 'choral', 'christian', 'christmas', 'classical', 'classicmetal', 'club', 'colombian', 'comedy', 'conjazz', 'contemporary', 'country', 'cuban', 'dance', 'dancehall', 'dancepop', 'dark', 'death', 'deep', 'deutschrock', 'deutschspr', 'dirty', 'disco', 'dnb', 'documentary', 'downbeat', 'downtempo', 'drum', 'dub', 'dubstep', 'eastern', 'easy', 'electronic', 'electropop', 'emo', 'entehno', 'epicmetal', 'estrada', 'ethnic', 'eurofolk', 'european', 'experimental', 'extrememetal', 'fado', 'film', 'fitness', 'flamenco', 'folk', 'folklore', 'folkmetal', 'folkrock', 'folktronica', 'forró', 'frankreich', 'französisch', 'french', 'funk', 'future', 'gangsta', 'garage', 'german', 'ghazal', 'gitarre', 'glitch', 'gospel', 'gothic', 'grime', 'grunge', 'gypsy', 'handsup', "hard'n'heavy", 'hardcore', 'hardstyle', 'hardtechno', 'hip', 'hip-hop', 'hiphop', 'historisch', 'holiday', 'hop', 'horror', 'house', 'idm', 'independent', 'indian', 'indie', 'indipop', 'industrial', 'inspirational', 'instrumental', 'international', 'irish', 'jam', 'japanese', 'jazz', 'jewish', 'jpop', 'jungle', 'k-pop', 'karadeniz', 'karaoke', 'kayokyoku', 'korean', 'laiko', 'latin', 'latino', 'leftfield', 'local', 'lounge', 'loungeelectronic', 'lovers', 'malaysian', 'mandopop', 'marschmusik', 'meditative', 'mediterranean', 'melodic', 'metal', 'metalcore', 'mexican', 'middle', 'minimal', 'miscellaneous', 'modern', 'mood', 'mpb', 'muslim', 'native', 'neoklassik', 'neue', 'new', 'newage', 'newwave', 'nu', 'nujazz', 'numetal', 'oceania', 'old', 'opera', 'orchestral', 'other', 'piano', 'pop', 'popelectronic', 'popeurodance', 'post', 'posthardcore', 'postrock', 'power', 'progmetal', 'progressive', 'psychedelic', 'punjabi', 'punk', 'quebecois', 'ragga', 'ram', 'rancheras', 'rap', 'rave', 'reggae', 'reggaeton', 'regional', 'relax', 'religious', 'retro', 'rhythm', 'rnb', 'rnr', 'rock', 'rockabilly', 'romance', 'roots', 'ruspop', 'rusrap', 'rusrock', 'salsa', 'samba', 'schlager', 'self', 'sertanejo', 'shoegazing', 'showtunes', 'singer', 'ska', 'slow', 'smooth', 'soul', 'soulful', 'sound', 'soundtrack', 'southern', 'specialty', 'speech', 'spiritual', 'sport', 'stonerrock', 'surf', 'swing', 'synthpop', 'sängerportrait', 'tango', 'tanzorchester', 'taraftar', 'tech', 'techno', 'thrash', 'top', 'traditional', 'tradjazz', 'trance', 'tribal', 'trip', 'triphop', 'tropical', 'türk', 'türkçe', 'unkown', 'urban', 'uzbek', 'variété', 'vi', 'videogame', 'vocal', 'western', 'world', 'worldbeat', 'ïîï']

Look through the list to find implicit duplicates of the genre `hiphop`. These could be names written incorrectly or alternative names of the same genre.

You will see the following implicit duplicates:
* `hip`
* `hop`
* `hip-hop`

To get rid of them, declare the function `replace_wrong_genres()` with two parameters: 
* `wrong_genres=` — the list of duplicates
* `correct_genre=` — the string with the correct value

The function should correct the names in the `'genre'` column from the `df` table, i.e. replace each value from the `wrong_genres` list with the value in `correct_genre`.

In [20]:
# Can also code...
# df_music = df_music.replace(['hip','hop','hip-hop'],'hiphop')

def replace_wrong_genres(data, column, wrong_genres, correct_genre):
    for wrong_genre in wrong_genres:
        data[column] = data[column].replace(wrong_genres, correct_genre)
    return data

duplicates = ['hip', 'hop', 'hip-hop'] 
name = 'hiphop' 

df_music = replace_wrong_genres(df_music, 'Genre', duplicates, name) 

print(df_music)

        User_ID                              Track            Artist  \
0      FFB692EC                  Kamigata To Boots  The Mass Missile
1      55204538        Delayed Because of Accident  Andreas Rönnberg
2        20EC38                  Funiculì funiculà       Mario Lanza
3      A3DD03C9              Dragons in the Sunset        Fire + Ice
4      E2DC1FAE                        Soul People        Space Echo
...         ...                                ...               ...
65074  729CBB09                            My Name            McLean
65075  D08D4A55  Maybe One Day (feat. Black Spade)       Blu & Exile
65076  C5E3A0D5                          Jalopiina            unkown
65077  321D0506                      Freight Train     Chas McDevitt
65078  3A64EF84          Tell Me Sweet Little Lies      Monica Lopez

            Genre         City      Time        Day
0            rock  Shelbyville  20:28:33  Wednesday
1            rock  Springfield  14:07:09     Friday
2             pop  Shelbyville  20:58:07  Wednesday
3            folk  Shelbyville  08:37:09     Monday
4           dance  Springfield  08:34:34     Monday
...           ...          ...       ...        ...
65074         rnb  Springfield  13:32:28  Wednesday
65075      hiphop  Shelbyville  10:00:00     Monday
65076  industrial  Springfield  20:09:26     Friday
65077        rock  Springfield  21:43:59     Friday
65078     country  Springfield  21:59:46     Friday

[61253 rows x 7 columns]

In [19]:
print(sorted(df_music['Genre'].unique()))

['acid', 'acoustic', 'action', 'adult', 'africa', 'afrikaans', 'alternative', 'ambient', 'americana', 'animated', 'anime', 'arabesk', 'arabic', 'arena', 'argentinetango', 'art', 'audiobook', 'avantgarde', 'axé', 'baile', 'balkan', 'beats', 'bigroom', 'black', 'bluegrass', 'blues', 'bollywood', 'bossa', 'brazilian', 'breakbeat', 'breaks', 'broadway', 'cantautori', 'cantopop', 'canzone', 'caribbean', 'caucasian', 'celtic', 'chamber', 'children', 'chill', 'chinese', 'choral', 'christian', 'christmas', 'classical', 'classicmetal', 'club', 'colombian', 'comedy', 'conjazz', 'contemporary', 'country', 'cuban', 'dance', 'dancehall', 'dancepop', 'dark', 'death', 'deep', 'deutschrock', 'deutschspr', 'dirty', 'disco', 'dnb', 'documentary', 'downbeat', 'downtempo', 'drum', 'dub', 'dubstep', 'eastern', 'easy', 'electronic', 'electropop', 'emo', 'entehno', 'epicmetal', 'estrada', 'ethnic', 'eurofolk', 'european', 'experimental', 'extrememetal', 'fado', 'film', 'fitness', 'flamenco', 'folk', 'folklore', 'folkmetal', 'folkrock', 'folktronica', 'forró', 'frankreich', 'französisch', 'french', 'funk', 'future', 'gangsta', 'garage', 'german', 'ghazal', 'gitarre', 'glitch', 'gospel', 'gothic', 'grime', 'grunge', 'gypsy', 'handsup', "hard'n'heavy", 'hardcore', 'hardstyle', 'hardtechno', 'hiphop', 'historisch', 'holiday', 'horror', 'house', 'idm', 'independent', 'indian', 'indie', 'indipop', 'industrial', 'inspirational', 'instrumental', 'international', 'irish', 'jam', 'japanese', 'jazz', 'jewish', 'jpop', 'jungle', 'k-pop', 'karadeniz', 'karaoke', 'kayokyoku', 'korean', 'laiko', 'latin', 'latino', 'leftfield', 'local', 'lounge', 'loungeelectronic', 'lovers', 'malaysian', 'mandopop', 'marschmusik', 'meditative', 'mediterranean', 'melodic', 'metal', 'metalcore', 'mexican', 'middle', 'minimal', 'miscellaneous', 'modern', 'mood', 'mpb', 'muslim', 'native', 'neoklassik', 'neue', 'new', 'newage', 'newwave', 'nu', 'nujazz', 'numetal', 'oceania', 'old', 'opera', 'orchestral', 'other', 'piano', 'pop', 'popelectronic', 'popeurodance', 'post', 'posthardcore', 'postrock', 'power', 'progmetal', 'progressive', 'psychedelic', 'punjabi', 'punk', 'quebecois', 'ragga', 'ram', 'rancheras', 'rap', 'rave', 'reggae', 'reggaeton', 'regional', 'relax', 'religious', 'retro', 'rhythm', 'rnb', 'rnr', 'rock', 'rockabilly', 'romance', 'roots', 'ruspop', 'rusrap', 'rusrock', 'salsa', 'samba', 'schlager', 'self', 'sertanejo', 'shoegazing', 'showtunes', 'singer', 'ska', 'slow', 'smooth', 'soul', 'soulful', 'sound', 'soundtrack', 'southern', 'specialty', 'speech', 'spiritual', 'sport', 'stonerrock', 'surf', 'swing', 'synthpop', 'sängerportrait', 'tango', 'tanzorchester', 'taraftar', 'tech', 'techno', 'thrash', 'top', 'traditional', 'tradjazz', 'trance', 'tribal', 'trip', 'triphop', 'tropical', 'türk', 'türkçe', 'unkown', 'urban', 'uzbek', 'variété', 'vi', 'videogame', 'vocal', 'western', 'world', 'worldbeat', 'ïîï']

We detected three issues with the data:

1. Incorrect header styles

2. Missing values
3. Obvious and implicit duplicates

The headers have been cleaned up to make processing the table simpler.

All missing values have been replaced with 'unknown'. But we still have to see whether the missing values in 'genre' will affect our calculations.

The absence of duplicates will make the results more precise and easier to understand.

Now we can move on to testing hypotheses.

### Hypothesis Testing

#### Hypothesis 1 : Comparing user behavior in two cities

In [36]:
df_music.groupby('City').agg({'Track':'count'})

             Track
City
Shelbyville  18512
Springfield  42741

Springfield has more tracks played than Shelbyville. But that does not imply that citizens of Springfield listen to music more often. This city is simply bigger, and there are more users.

In [32]:
df_music.groupby('Day').agg({'Track':'count'})

           Track
Day
Friday     21840
Monday     21354
Wednesday  18059

Wednesday is the quietest day overall. But if we consider the two cities separately, we might come to a different conclusion.

Create the `number_tracks()` function to calculate the number of songs played for a given day and city. It will require two parameters:
* day of the week
* name of the city

In the function, use a variable to store the rows from the original table, where:
  * `'day'` column value is equal to the `day` parameter
  * `'city'` column value is equal to the `city` parameter

Apply consecutive filtering with logical indexing.

Then calculate the `'user_id'` column values in the resulting table. Store the result to a new variable. Return this variable from the function.

In [37]:
def number_tracks(day,city):
    track_list = df_music[(df_music['Day'] == day) & (df_music['City'] == city)] 
    track_list_count = track_list['User_ID'].count()
    return track_list_count

In [38]:
number_tracks('Monday', 'Springfield')

15740

In [39]:
number_tracks('Monday', 'Shelbyville')

5614

In [40]:
number_tracks('Wednesday', 'Springfield')

11056

In [41]:
number_tracks('Wednesday','Shelbyville')

7003

In [42]:
number_tracks('Friday','Springfield')

15945

In [43]:
number_tracks('Friday','Shelbyville')

5895

In [44]:
result=pd.DataFrame(columns=['City', 'Monday', 'Wednesday', 'Friday'])
result['City']=['Springfield','Shelbyville']
result['Monday']=[15740,5614]
result['Wednesday']=[11056,7003]
result['Friday']=[15945,5895]
print(result)

          City  Monday  Wednesday  Friday
0  Springfield   15740      11056   15945
1  Shelbyville    5614       7003    5895

**Conclusions**

The data reveals differences in user behavior:

- In Springfield, the number of songs played peaks on Mondays and Fridays, while on Wednesday there is a decrease in activity.
- In Shelbyville, on the contrary, users listen to music more on Wednesday. User activity on Monday and Friday is smaller.

So the first hypothesis seems to be correct.

 ### Hypothesis 2: music at the beginning and end of the week

According to the second hypothesis, on Monday morning and Friday night, citizens of Springfield listen to genres that differ from ones users from Shelbyville enjoy.

Get tables (make sure that the name of your combined table matches the DataFrame given in the two code blocks below):

- For Springfield — spr_general

- For Shelbyville — shel_general

In [46]:
spr_general = df_music[df_music['City']=='Springfield']
print(spr_general)
# create the spr_general table from the df rows, 
# where the value in the 'city' column is 'Springfield'

        User_ID                          Track                   Artist  \
1      55204538    Delayed Because of Accident         Andreas Rönnberg
4      E2DC1FAE                    Soul People               Space Echo
6      4CB90AA5                           True             Roman Messer
7      F03E1C1F               Feeling This Way          Polina Griffith
8      8FA1D3BE                       L’estate              Julia Dalia
...         ...                            ...                      ...
65073  83A474E7  I Worship Only What You Bleed  The Black Dahlia Murder
65074  729CBB09                        My Name                   McLean
65076  C5E3A0D5                      Jalopiina                   unkown
65077  321D0506                  Freight Train            Chas McDevitt
65078  3A64EF84      Tell Me Sweet Little Lies             Monica Lopez

              Genre         City      Time        Day
1              rock  Springfield  14:07:09     Friday
4             dance  Springfield  08:34:34     Monday
6             dance  Springfield  13:00:07  Wednesday
7             dance  Springfield  20:47:49  Wednesday
8            ruspop  Springfield  09:17:40     Friday
...             ...          ...       ...        ...
65073  extrememetal  Springfield  21:07:12     Monday
65074           rnb  Springfield  13:32:28  Wednesday
65076    industrial  Springfield  20:09:26     Friday
65077          rock  Springfield  21:43:59     Friday
65078       country  Springfield  21:59:46     Friday

[42741 rows x 7 columns]

In [47]:
shel_general = df_music[df_music['City']=='Shelbyville']
print(shel_general)
# create the shel_general from the df rows,
# where the value in the 'city' column is 'Shelbyville'

        User_ID                              Track              Artist  \
0      FFB692EC                  Kamigata To Boots    The Mass Missile
2        20EC38                  Funiculì funiculà         Mario Lanza
3      A3DD03C9              Dragons in the Sunset          Fire + Ice
5      842029A1                             Chains            Obladaet
9      E772D5C0                          Pessimist              unkown
...         ...                                ...                 ...
65063  D94F810B        Theme from the Walking Dead  Proyecto Halloween
65064  BC8EC5CF       Red Lips: Gta (Rover Rework)               Rover
65065  29E04611                       Bre Petrunko       Perunika Trio
65066  1B91C621             (Hello) Cloud Mountain     sleepmakeswaves
65075  D08D4A55  Maybe One Day (feat. Black Spade)         Blu & Exile

            Genre         City      Time        Day
0            rock  Shelbyville  20:28:33  Wednesday
2             pop  Shelbyville  20:58:07  Wednesday
3            folk  Shelbyville  08:37:09     Monday
5          rusrap  Shelbyville  13:09:41     Friday
9           dance  Shelbyville  21:20:49  Wednesday
...           ...          ...       ...        ...
65063        film  Shelbyville  21:14:40     Monday
65064  electronic  Shelbyville  21:06:50     Monday
65065       world  Shelbyville  13:56:00     Monday
65066    postrock  Shelbyville  09:22:13     Monday
65075      hiphop  Shelbyville  10:00:00     Monday

[18512 rows x 7 columns]

Write the `genre_weekday()` function with four parameters:
* A table for data (`df`)
* The day of the week (`day`)
* The first timestamp, in 'hh:mm' format (`time1`)
* The last timestamp, in 'hh:mm' format (`time2`)

The function should return info on the 15 most popular genres on a given day within the period between the two timestamps.

In [48]:
def genre_weekly(df, day, time1, time2):

    # consecutive filtering
    # Create the variable genre_df which will store only those df rows where the day is equal to day=
    genre_df = df[df['Day']==day]

    # filter again so that genre_df will store only those rows where the time is smaller than time2=
    genre_df = genre_df[genre_df['Time']<=time2]

    # filter once more so that genre_df will store only rows where the time is greater than time1=
    genre_df = genre_df[genre_df['Time']>=time1]

    # group the filtered DataFrame by the column with the names of genres, take the genre column, and find the number of rows for each genre with the count() method
    genre_df_count = genre_df.groupby(by='Genre')['Genre'].count()

    # sort the result in descending order (so that the most popular genres come first in the Series object)
    genre_df_sorted = genre_df_count.sort_values(ascending=False)

    # we will return the Series object storing the 15 most popular genres on a given day in a given timeframe
    return genre_df_sorted[:15]

Compare the results of the `genre_weekday()` function for Springfield and Shelbyville on Monday morning (from 7AM to 11AM) and on Friday evening (from 17:00 to 23:00):

In [49]:
# calling the function for Monday morning in Springfield (use spr_general instead of the df table)
print(genre_weekly(spr_general, 'Monday', '07:00:00', '11:00:00'))

Genre
pop            781
dance          549
electronic     480
rock           474
hiphop         286
ruspop         186
world          181
rusrap         175
alternative    164
unkown         161
classical      157
metal          120
jazz           100
folk            97
soundtrack      95
Name: Genre, dtype: int64

In [50]:
# calling the function for Monday morning in Shelbyville (use shel_general instead of the df table)
print(genre_weekly(shel_general, 'Monday', '07:00:00', '11:00:00'))

Genre
pop            218
dance          182
rock           162
electronic     147
hiphop          80
ruspop          64
alternative     58
rusrap          55
jazz            44
classical       40
world           36
rap             32
soundtrack      31
rnb             27
metal           27
Name: Genre, dtype: int64

In [51]:
# calling the function for Friday evening in Springfield
print(genre_weekly(spr_general, 'Friday','17:00:00', '23:00:00'))

Genre
pop            713
rock           517
dance          495
electronic     482
hiphop         273
world          208
ruspop         170
classical      163
alternative    163
rusrap         142
jazz           111
unkown         110
soundtrack     105
rnb             90
metal           88
Name: Genre, dtype: int64

In [52]:
# calling the function for Friday evening in Shelbyville
print(genre_weekly(shel_general, 'Friday','17:00:00', '23:00:00'))

Genre
pop            256
rock           216
electronic     216
dance          210
hiphop          97
alternative     63
jazz            61
classical       60
rusrap          59
world           54
unkown          47
ruspop          47
soundtrack      40
metal           39
rap             36
Name: Genre, dtype: int64

**Conclusion**

Having compared the top 15 genres on Monday morning, we can draw the following conclusions:

1. Users from Springfield and Shelbyville listen to similar music. The top five genres are the same, only rock and electronic have switched places.

2. In Springfield, the number of missing values turned out to be so big that the value `'unknown'` came in 10th. This means that missing values make up a considerable portion of the data, which may be a basis for questioning the reliability of our conclusions.

For Friday evening, the situation is similar. Individual genres vary somewhat, but on the whole, the top 15 is similar for the two cities.

Thus, the second hypothesis has been partially proven true:
* Users listen to similar music at the beginning and end of the week.
* There is no major difference between Springfield and Shelbyville. In both cities, pop is the most popular genre.

However, the number of missing values makes this result questionable. In Springfield, there are so many that they affect our top 15. Were we not missing these values, things might look different.

### Hypothesis 3: genre preferences in Springfield and Shelbyville

Hypothesis: Shelbyville loves rap music. Springfield's citizens are more into pop.

Group the `spr_general` table by genre and find the number of songs played for each genre with the `count()` method. Then sort the result in descending order and store it to `spr_genres`.

In [53]:
# on one line: group the spr_general table by the 'genre' column, 
# count the 'genre' values with count() in the grouping, 
# sort the resulting Series in descending order, and store it to spr_genres
spr_genres = spr_general.groupby('Genre')['Genre'].count()
print(spr_genres)

Genre
acid            1
acoustic        3
action          4
adult          16
africa         12
             ...
vocal          68
western        64
world        1432
worldbeat       1
ïîï             1
Name: Genre, Length: 250, dtype: int64

In [54]:
# printing the first 10 rows of spr_genres
print(spr_genres.head(10))

Genre
acid              1
acoustic          3
action            4
adult            16
africa           12
afrikaans         4
alternative    1379
ambient         183
americana         7
animated          2
Name: Genre, dtype: int64

In [55]:
# on one line: group the shel_general table by the 'genre' column, 
# count the 'genre' values in the grouping with count(), 
# sort the resulting Series in descending order and store it to shel_genres
shel_genres = shel_general.groupby('Genre')['Genre'].count()
print(shel_genres)

Genre
acoustic         2
adult            8
africa           4
alternative    649
ambient         64
              ...
videogame       48
vocal           25
western         33
world          515
worldbeat        1
Name: Genre, Length: 202, dtype: int64

In [56]:
print(shel_genres.head(10))
# printing the first 10 rows from shel_genres

Genre
acoustic            2
adult               8
africa              4
alternative       649
ambient            64
americana           1
anime              29
arabesk             2
arabic              1
argentinetango      7
Name: Genre, dtype: int64

**Conclusion**

The hypothesis has been partially proven true:
* Pop music is the most popular genre in Springfield, as expected.
* However, pop music turned out to be equally popular in Springfield and Shelbyville, and rap wasn't in the top 5 for either city.

In [57]:
shel_genres.sort_values(ascending = False).head(10)

Genre
pop            2431
dance          1932
rock           1879
electronic     1736
hiphop          960
alternative     649
classical       646
rusrap          564
ruspop          538
world           515
Name: Genre, dtype: int64

In [58]:
spr_genres.sort_values(ascending = False).head(10)

Genre
pop            5892
dance          4435
rock           3965
electronic     3786
hiphop         2096
classical      1616
world          1432
alternative    1379
ruspop         1372
rusrap         1161
Name: Genre, dtype: int64

# Findings

We have tested the following three hypotheses:

1. User activity differs depending on the day of the week and from city to city. 
2. On Monday mornings, Springfield and Shelbyville residents listen to different genres. This is also true for Friday evenings. 
3. Springfield and Shelbyville listeners have different preferences. In both Springfield and Shelbyville, they prefer pop.

After analyzing the data, we concluded:

1. User activity in Springfield and Shelbyville depends on the day of the week, though the cities vary in different ways. 

The first hypothesis is fully accepted.

2. Musical preferences do not vary significantly over the course of the week in both Springfield and Shelbyville. We can see small differences in order on Mondays, but:
* In Springfield and Shelbyville, people listen to pop music most.

So we can't accept this hypothesis. We must also keep in mind that the result could have been different if not for the missing values.

3. It turns out that the musical preferences of users from Springfield and Shelbyville are quite similar.

The third hypothesis is rejected. If there is any difference in preferences, it cannot be seen from this data.

#### 4.4  Note
In real projects, research involves statistical hypothesis testing, which is more precise and more quantitative. Also note that you cannot always draw conclusions about an entire city based on the data from just one source.

You will study hypothesis testing in the sprint on statistical data analysis.